@font-face {
    font-family: Verdana;
    src: url('hiragana-subset.ttf'),
    url('hiragana-subset.eot'); /* IE9 */
}

body {
	margin: 0;
	font-family: "Helvetica Neue", "Arial", "Helvetica", "Verdana", sans-serif;
}

.option {
    font-family: Verdana;
}

.progressWrapper {
	background: #202020;
	height: 18px;
	position: absolute;
	width: 45px;
	border-radius: 6px;
	opacity: 0.5;
}

.progress {
	width: 22px;
	border-radius: 6px 2px 2px 6px;
	background: green;
	height: 14px;
	margin: 2px;
}

.playButton {
	display: none;
}

.progressWrapper:hover .playButton {
	display: block;
}

.playButton {
	background-image: url('play.png');
	color: e0e0e0;
	float: right;
}

.choice {
	height: 65px;
	width: 45px;
	cursor: default;
	margin: 0;
	padding: 0;
	display: inline-block;
      -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       -o-user-select: none;
       user-select: none;

}

#choices > .choice {
	margin: 10px;
}

.option {
	line-height: 185%;
	text-align: right;
	font-size: 34pt; 
	text-align: center;
	margin:0 auto;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       -o-user-select: none;
       user-select: none;
}

.hint {
	position: absolute;
	font-size: 10pt;
	line-height: 16px;
	margin-left: 2px;
	color: #b2b2b2;
	display: none;
}

.status {
	background-color: 'red';
	height: 20px;
	position: absolute;
}
