body {
	margin: 0;
	font-family: "Helvetica Neue", "Arial", "Helvetica", "Verdana", sans-serif;
}

table {
	border-bottom: solid black 1px;
}

#status {
	background-color: #FFF090;
	border-bottom: solid black 1px;
}

.choice {
	height: 55px;
	width: 45px;
	border-top: solid black 1px;
	cursor: default;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.option {
	line-height: 160%;
	text-align: right;
	font-size: 34pt; 
	text-align: center;
	margin:0 auto;
}

.hint {
	position: absolute;
	font-size: 10pt;
	line-height: 20px;
	margin-left: 1px;
	color: #b2b2b2;
	display: none;
}
