body {
	margin: 0;
	font-family: "Helvetica Neue", "Arial", "Helvetica", "Verdana", sans-serif;
}

.plugin {
	display: none;
	float: right;
	font-size: 56pt;
}

#status {
	background-color: #FFF090;
	border-bottom: solid black 1px;
	height: 40px;
}

.config {
	font-size: 10pt !important;
}

#config {
	display: block;
	margin-top: 5px;
}

.awesome {
	font-size: 14pt;
	background: #222 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAClJREFUeNpi/v//vwMTAwPDfzjBgMpFI/7hFSOT9Y8qRuF3JLoHAQIMAHYtMmRA+CugAAAAAElFTkSuQmCC) repeat-x;
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none; 
	font-weight: bold; 
	line-height: 1; 
	border-radius: 5px; 
	box-shadow: 0 1px 3px rgba(0,0,0,0.5); 
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); 
	-webkit-text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative; 
	cursor: pointer;
	border: none;
	margin: 5px;
	text-align: center;
	white-space: nowrap;
}

#choices {
	width: 775px;
	margin: 0 auto;
}

.choice {
	height: 60px;
	width: 50px;
	border: solid black 1px;
	border-radius: 8px 8px 8px 8px;
	box-shadow: 3px 3px 0 0;
	-webkit-box-shadow: 3px 3px 0 0;
	margin: 10px;
	padding: 5px;
}

#questions {
	float: left;
}

#incorrectAnswers {
	float: right;
}
