body {
	margin: 0;
	font-family: "Helvetica Neue", "Arial", "Helvetica", "Verdana", sans-serif;
}

.plugin {
	display: none;
	float: right;
	font-size: 56pt;
}

#status {
	background-color: #FFF090;
	border-bottom: solid black 1px;
}

#config {
	display: inline-block;
	float: right;
	margin-top: 5px;
	position: absolute;
}

#config > a {
	float: right;
}

.awesome {
	font-size: 28pt;
	background: #222 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAClJREFUeNpi/v//vwMTAwPDfzjBgMpFI/7hFSOT9Y8qRuF3JLoHAQIMAHYtMmRA+CugAAAAAElFTkSuQmCC) repeat-x;
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none; 
	font-weight: bold; 
	line-height: 1; 
	border-radius: 5px; 
	box-shadow: 0 1px 3px rgba(0,0,0,0.5); 
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative; 
	cursor: pointer;
	border: none;
	margin: 5px;
	text-align: center;
	white-space: nowrap;
}

#choices {
	width: 1223px;
	float: left;
}
#choices > div {
	display: inline-block;
	height: 90px;
	width: 75px;
	border: solid black 1px;
	margin: 10px;
	cursor: default;
}

.option {
	line-height: 76pt;
	text-align: center;
	font-size: 56pt; 
	text-align: center;
	float: right;
}

.hint {
	position: absolute;
	font-size: 12pt;
	line-height: 25px;
	margin-left: 2px;
	color: #b2b2b2;
	display: none;
}
