#status {
	display: block;
	min-width: 480px;
}

#config {
	display: block;
	float: left;
	width: 100%;
	max-width: 480px;
}

#choices {
	bottom: 10px;
	position: fixed;
}

.choice {
	height: 40px;
	width: 60px;
	text-align: center;
}

.option {
	font-size: 24pt;
}

.hint {
	line-height: 10px;
}

#choices {
	width: 100%;
	min-width: 100%;
}
